<% @posts.each do |post| %>
    <div class="card p-3 mb-3"> 
        <div class="row ">
            <div class="col-1 text-center">
                <div class="fa fa-heart-o like"></div>
                <span>0</span>
                <div class="fa fa-thumbs-o-down dislike"></div>


            </div>

            <div class="col-11 col-md-10">
                <h4 class="mb-1"><%= link_to post.title, course_post_path(post.course_id , post) %></h4>

                <p> <small>
                    <%= link_to post.course.name, course_path(post.course)%>
                    Posted by <%= link_to post.account.full_name, profile_path(post.account.utorid)%> 
                    <%= time_ago_in_words post.created_at %> ago
                </small></p>

                <p><%= truncate post.body, length: 200 %>
                </p>
            </div>
        </div>
    </div>
<% end %>